<%= render 'menu' %>
<%= form_for(@circle) do |form| %>
<p class="field-title"><%= form.label :name %></p>                <p class="field-value"><%= form.text_field :name %></p>
<p class="field-title"><%= form.label :description %></p>         <p class="field-value"><%= form.text_area :description %></p>
<p class="field-title"></p>                                       <p class="field-value"><%= form.submit "Save changes", :class => "action-button" %></p>
<% end %>