<h1><%= t('.header') %></h1>
<p class="content-header-bar">
<%= link_to t('.in_your_circles') + " (" + current_user.contacts.size.to_s + ")", circles_contacts_path, class: (params[:action] == 'contacts' ? "current" : nil) %>
<%= link_to t('.added_you') + " (" + current_user.contact_of.size.to_s + ")", circles_contact_of_path, class: (params[:action] == 'contact_of' ? "current" : nil) %>
<%= link_to t('.find'), circles_find_people_path, class: (params[:action] == 'find_people' ? "current" : nil) %>
<%= link_to t('.new'), new_circle_path, class: (params[:action] == 'new' ? "current" : nil) %>
</p>
