<nav class='toolbar' role='navigation'>
  <div class='container'>
    <div class='row'>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class='navbar-header col-sm-2'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#toolbar-collapse-1'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <%= link_to(content_tag(:span, nil, class: 'fa fa-fw fa-google-circles') + t('.circles'), circles_path, class: 'navbar-brand') %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class='collapse navbar-collapse' id='toolbar-collapse-1'>
        <div class='col-sm-7'>
          <ul class='nav navbar-nav'>
            <!-- TODO; Add translations -->
            <li class="<%= 'active' if current_page?(circles_path) %>"><%= link_to(t('.all'), circles_path) %><li>
            <li class="<%= 'active' if current_page?(find_people_circles_path ) %>"><%= link_to(t('.find'), find_people_circles_path ) %></li>
            <li class="<%= 'active' if current_page?(contact_of_circles_path) %>"><%= link_to(t('.added_you'), contact_of_circles_path) %></li>
            <li class="<%= 'active' if current_page?(contacts_circles_path ) %>"><%= link_to(t('.your_circles'), contacts_circles_path ) %></li>
          </ul>
          <div class="btn-group pull-right">
            <%= link_to(t('.new'), new_circle_path, class: 'btn btn-primary') %>
          </div>
        </div><!-- /.col-sm-7 -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</nav><!-- /.navbar-toolbar -->
