<nav class='toolbar' role='navigation'>
  <div class='container'>
    <div class='row'>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class='navbar-header col-sm-2'>
        <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#toolbar-collapse-1'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <%= link_to(content_tag(:span, nil, class: 'fa fa-fw fa-google-circles') + t('.circes'), circles_path, class: 'navbar-brand') %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class='collapse navbar-collapse' id='toolbar-collapse-1'>
        <div class='col-sm-7'>
          <ul class='nav navbar-nav'>
            <!-- TODO; Add translations -->
            <li class="<%= 'active' if current_page?(circles_path) %>"><%= link_to('All', circles_path) %><li>
            <li class="<%= 'active' if current_page?(circles_find_people_path) %>"><%= link_to(t('.find'), circles_find_people_path) %></li>
            <li class="<%= 'active' if current_page?(circles_contact_of_path) %>"><%= link_to(t('.added_you'), circles_contact_of_path) %></li>
            <li class="<%= 'active' if current_page?(circles_contacts_path) %>"><%= link_to(t('.your_circles'), circles_contacts_path) %></li>
            <li class="<%= 'active' if current_page?(new_circle_path) %>"><%= link_to(t('.new'), new_circle_path) %></li>
          </ul>
        </div><!-- /.col-sm-7 -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</nav><!-- /.navbar-toolbar -->
