<% content_for :toolbar do %>
  <%= render 'toolbar' %>
<% end %>

<p style="float: right;"><%= link_to(content_tag(:span, nil, class: 'fa fa-pencil fa-2x fa-fw', title: "#{t('.edit_this_circle')}"), edit_circle_path(@circle)) %></p>
<h2><%= @circle.name %></h2>
<p class="field-info"><%= @circle.content %></p>
<h3>Contacts (<%= @circle.ties.count %>)</h3>
<ul class="large-contact-list">
<% @circle.ties.each do |tie| %>
<li><%= link_to image_tag(tie.contact.avatar_url, width: 40, height: 40, title: tie.contact.display_name), stream_path(provider: :people, id: tie.contact.id) %> (<%= link_to "delete", tie, method: :delete %>)</li>
<% end %>
</ul>
