<% content_for :toolbar do %>
  <%= render 'toolbar' %>
<% end %>

<h1><%= t('socializer.circles.header') %></h1>

<h2>
  <%= @circle.name %> <%= link_to("#{content_tag(:span, nil, class: 'fa fa-fw fa-pencil')}".html_safe, edit_circle_path(@circle), class: 'btn btn-xs btn-default', title: "#{t('.tooltip.edit')}") %>
</h2>

<p><%= @circle.content %></p>
<h3>Contacts (<%= @circle.ties.count %>)</h3>

<div class='row'>
  <% @circle.ties.each do |tie| %>
    <!-- TODO: Create a partial -->
    <div class='col-sm-6 col-md-4 draggable', data-object-id='<%= tie.contact.guid %>', data-person-name='<%= tie.contact.display_name %>'>
      <article class='media panel panel-default'>
        <section class='media-object'>
          <%= link_to(image_tag(tie.contact.avatar_url), tie.contact) %>
        </section>

        <section class='media-body'>
            <h1>
              <%= link_to(tie.contact.display_name, stream_path(provider: :people, id: tie.contact.id)) %>
            </h1>
            <!-- TODO: Translations -->
            <!-- TODO: Add a prompt for the delete -->
            <%= link_to('Delete', tie, method: :delete, class: 'btn btn-xs btn-danger', title: "Remove #{tie.contact.display_name} from #{@circle.name}") %>
        </section>
      </article>
    </div>
  <% end %>
</div>
