<p style="float: right;"><%= link_to image_tag("socializer/icons/Edit.png", width: 50, title: "#{t('.edit_this_circle')}"), edit_circle_path(@circle) %></p>
<%= render 'menu' %>
<h2><%= @circle.name %></h2>
<p class="field-info"><%= @circle.content %></p>
<h3>Contacts (<%= @circle.ties.count %>)</h3>
<ul class="large-contact-list">
<% @circle.ties.each do |tie| %>
<li><%= link_to image_tag(tie.contact.avatar_url, width: 40, height: 40, title: tie.contact.display_name), stream_path(provider: :people, id: tie.contact.id) %> (<%= link_to "delete", tie, method: :delete %>)</li>
<% end %>
</ul>
