<div class='well well-sm'>
  <%= simple_form_for(note, html: { remote: true }) do |f| %>
    <%= f.input :content, label: false, input_html: { class: 'note-content-field', placeholder: "#{t('.share_placeholder')}" } %>

    <div id='note_actions'>
      <%= f.input :object_ids, label: false, input_html: { data: { source: j(audiences_path), title: j(title), current_id: current_id } } %>

      <%= f.button :submit, t('.share'), class: 'btn-success action-button' %>
      <%= button_tag 'Cancel', class: 'btn btn-default', id: 'note_cancel', type: 'button' %>
    </div>
  <% end %>
</div>
