<div style="padding: 0px 20px;">
	<%= form_for(Socializer::Note.new, :remote => true) do |form| %>
  		<%= form.text_area :content, :class => "note-content-field" %>
  		<%= form.text_field :object_ids %>
	<script type="text/javascript">
  	$(document).ready(function() {

		$("#note_content").val('Share anything with anyone...').css({fontStyle: 'italic', color: '#aaa'});

		$("#note_object_ids").hide();
		$(".action-button").hide();
		
		$("#note_content").one('click', function() {
			
			$('#note_content').val('').css({fontStyle: 'normal', color: '#000'});
			
			$(this).animate({height: 100}, 'fast');
			
			$("#note_object_ids").tokenInput("<%= audiences_path %>", { 
	      		minChars: 0
	     		,preventDuplicates: true
	     		<% unless @current_id.nil? %>,prePopulate: [{id: <%= @current_id %>, name: "<%= @title %>"}]<% end %>
	    	});
	
			<% unless @current_id.nil? %>
			<% if @title.nil? %>
			$(".token-input-list").hide();
			<% end %>
			<% end %>
	
			$(".action-button").show("fast");
	
		});
		
		<% unless @current_id.nil? %>
		<% if @title.nil? %>
		$("#note_content").click();
		<% end %>
		<% end %>
		
  	});
	</script>
  	<%= form.submit "Share", :class => "action-button" %>
	<% end %>
</div>