<div class="note-form" style="padding: 0px 20px;">
	<%= form_for(Socializer::Note.new, remote: true) do |form| %>
  		<%= form.text_area :content, class: "note-content-field", placeholder: "#{t('.share_placeholder')}" %>
  		<%= form.text_field :object_ids %>
	<script type="text/javascript">
  	$(document).ready(function () {

  		$("#note_object_ids").hide();
  		$("form .action-button").hide();

  		$("#note_content").one('click', function () {
  			$(this).animate({height: 100}, 'fast');

  			$("#note_object_ids").tokenInput("<%= audiences_path %>", {
  	      		minChars: 0
  	     		,preventDuplicates: true
  	     		<% if @current_id.present? %>,prePopulate: [{id: <%= @current_id %>, name: "<%= @title %>"}]<% end %>
  	    });

        $('#note_content').val('');

  			<% if @current_id.present? && @title.nil? %>
  			$(".token-input-list").hide();
  			<% end %>

  			$("form .action-button").show("fast");

  		});
  	});
	</script>
  	<%= form.submit t('.share'), class: "action-button" %>
	<% end %>
</div>
