<%= form_for(person_employment) do |form| %>
<p class="field-title"><%= form.label :employer_name %></p>       <p class="field-value"><%= form.text_field :employer_name %></p>
<p class="field-title"><%= form.label :job_title %></p>           <p class="field-value"><%= form.text_field :job_title %></p>
<p class="field-title"><%= form.label :start %></p>               <p class="field-value"><%= form.date_field :start %></p>
<p class="field-title"><%= form.label :end %></p>                 <p class="field-value"><%= form.date_field :end %></p>
<p class="field-title"><%= form.label :current %></p>             <p class="field-value"><%= form.check_box :current %></p>
<p class="field-title"><%= form.label :job_description %></p>     <p class="field-value"><%= form.text_area :job_description %></p>

<p class="field-title"></p>                                       <p class="field-value"><%= form.submit t('.submit'), class: "action-button" %></p>
<% end %>
