<h1>Comment activity</h1>
<%= simple_form_for(comment) do |f| %>
  <%= content_tag(:div, class: 'form-inputs') do %>
    <%= f.input :content, label: false, input_html: { autofocus: true } %>
    <%= f.input :activity_target_id,  as: :hidden, input_html: { value: params[:id] } %>
  <% end %>

  <%= content_tag(:div, class: 'form-actions') do %>
    <%= f.button :submit, t('.submit'), class: 'action-button' %>
  <% end %>
<% end %>
