<article class='media panel <%= classname %>' data-activity-id='<%= notification.activity.guid %>'>
  <section class='media-object'>
    <%= link_to(image_tag(notification.activity.actor.avatar_url), notification.activity.actor) %>
  </section>

  <section class='media-body'>
    <header>
      <h1>
        <%= link_to(notification.activity.actor.display_name, stream_path(provider: :people, id: notification.activity.actor.id)) %>
        <small class='text-muted'> -
          <%= link_to(notification.created_at_time_ago, stream_path(provider: :activities, id: notification.activity.id), class: 'text-muted') %>
        </small>
      </h1>
    </header>

    <p><%= "Shared with you: #{ notification.activity.object.content }" if notification.activity.activitable_object.note? && notification.activity.verb_name == 'post' %></p>
  </section>
</article>
