<h1><%= t('.your_groups') %></h1>
<p class="content-header-bar">
<%= link_to t('.public') + " (" + Socializer::Group.public.size.to_s + ")", groups_public_path, class: (params[:action] == 'public' ? "current" : nil) %>
<%= link_to t('.restricted') + " (" + Socializer::Group.restricted.size.to_s + ")", groups_restricted_path, class: (params[:action] == 'restricted' ? "current" : nil) %>
<%= link_to t('.joinable') + " (" + Socializer::Group.joinable.size.to_s + ")", groups_joinable_path, class: (params[:action] == 'joinable' ? "current" : nil) %>
<%= link_to t('.memberships') + " (" + current_user.memberships.size.to_s + ")", groups_memberships_path, class: (params[:action] == 'memberships' ? "current" : nil) %>
<%= link_to t('.pending_invites') + " (" + current_user.pending_memberships_invites.size.to_s + ")", groups_pending_invites_path, class: (params[:action] == 'pending_invites' ? "current" : nil) %>
<%= link_to t('.my_groups') + " (" + current_user.groups.size.to_s + ")", groups_ownerships_path, class: (params[:action] == 'ownerships' ? "current" : nil) %>
<%= link_to t('.create_new_group'), new_group_path, class: (params[:action] == 'new' ? "current" : nil) %>
</p>
