<h2>Groups you created</h2>
<p><%= link_to "Create a new group", new_group_path %></p>
<ul>
<% @groups.each do |group| %>
  <li><%= link_to group.name, group %> | <%= group.members.count %> members | (<%= link_to "edit", edit_group_path(group) %> | <%= link_to "delete", group, :method => :delete %>)</li>
<% end %>
</ul>

<h2>Memberships</h2>
<ul>
<% @memberships.each do |membership| %>
  <li><%= link_to membership.group.name, membership.group %> | <%= membership.group.members.count %> members | (<%= link_to "leave", membership, :method => :delete %>)</li>
<% end %>
</ul>

<h2>pending_memberships_invites</h2>
<ul>
<% current_user.pending_memberships_invites.each do |membership| %>
  <li><%= link_to membership.group.name, membership.group %> | <%= membership.group.members.count %> members | (<%= link_to "confirm", confirm_membership_path(membership) %>)</li>
<% end %>
</ul>

