<%= render 'menu' %>
<ul class="large-group-list">
<% @memberships.each do |membership| %>
  <li>
    <div class="group-card <%= membership.group.privacy_level %>">
      <%= link_to membership.group do %>
        <div class="group-info">
          <span class="group-name"><%= membership.group.name %></span>
          <span class="group-member-count"><%= membership.group.members.count %> members</span>
          <span class="group-privacy-level"><%= membership.group.privacy_level %></span>
        </div>
      <% end %>
      <div class="group-actions">
        <%= link_to t('.leave'), membership, method: :delete %>
      </div>
    </div>
  </li>
<% end %>
</ul>
