<%= render 'menu' %>
<ul>
<% @ownerships.each do |group| %>
  <li><%= link_to group.name, group %> | <%= group.members.count %> members | (<%= link_to t('.edit'), edit_group_path(group) %> | <%= link_to t('.delete'), group, method: :delete %>)</li>
<% end %>
</ul>
