<% content_for :toolbar do %>
  <%= render 'toolbar' %>
<% end %>

<h1><%= t('.header', count: current_user.groups.count) %></h1>

<ul class="large-group-list">
<% @ownerships.each do |group| %>
  <li>
    <div class="group-card <%= group.privacy_level %>">
      <%= link_to group do %>
        <div class="group-info">
          <span class="group-name"><%= group.name %></span>
          <span class="group-member-count"><%= group.members.count %> members</span>
          <span class="group-privacy-level"><%= group.privacy_level %></span>
        </div>
      <% end %>
      <div class="group-actions">
        <%= link_to t('.edit'), edit_group_path(group) %> |
        <%= link_to t('.delete'), group, method: :delete %>
      </div>
    </div>
  </li>
<% end %>
</ul>
