<% content_for :toolbar do %>
  <%= render 'toolbar' %>
<% end %>

<h2><%= @group.name %> (<%= @group.privacy_level %>)</h2>

<% if @group.member?(current_user) %>
  <!-- TODO: Add a prompt for the delete -->
  <%= link_to t('.leave'), @membership, method: :delete, class: 'btn btn-danger' %>
<% else %>
  <%= simple_form_for(current_user.memberships.build(group_id: @group.id)) do |f| %>
    <%= f.input :group_id,  as: :hidden %>
    <%= f.button :submit, t('.join'), class: 'btn btn-primary' %>
  <% end %>
<% end %>

<h2>Members</h2>
<div class='row'>
  <% @group.memberships.each do |membership| %>
    <!-- TODO: Create a partial -->
    <div class='col-sm-6 col-md-4 draggable', data-object-id='<%= membership.member.guid %>', data-person-name='<%= membership.member.display_name %>'>
      <article class='media panel panel-default'>
        <section class='media-object'>
          <%= link_to(image_tag(membership.member.avatar_url), membership.member) %>
        </section>

        <section class='media-body'>
            <h1>
              <%= link_to(membership.member.display_name, stream_path(provider: :people, id: membership.member.id)) %>
            </h1>
        </section>
      </article>
    </div>
  <% end %>
</div>

<% if @group.privacy_level.private? %>
  <h2>Invite members</h2>
  <div class='row'>
    <% Socializer::Person.all.each do |user| %>
      <!-- TODO: Create a partial -->
      <div class='col-sm-6 col-md-4 draggable', data-object-id='<%= user.guid %>', data-person-name='<%= user.display_name %>'>
        <article class='media panel panel-default'>
          <section class='media-object'>
            <%= link_to(image_tag(user.avatar_url), user) %>
          </section>

          <section class='media-body'>
              <h1>
                <%= link_to(user.display_name, stream_path(provider: :people, id: user.id)) %>
              </h1>
              <!-- TODO: Translations -->
              <%= link_to('Invite', invite_membership_path(group_id: @group, user_id: user), class: 'btn btn-xs btn-success', title: "Invite #{user.display_name} to join #{@group.name}") %>
          </section>
        </article>
      </div>
    <% end %>
  </div>
<% end %>
