<h3><%= @person.display_name %></h3>
<%= image_tag(@person.avatar_url) %>
<%= link_to "Send a message", @person, :class => 'action-button' %>
<p>In <%= @person.display_name %>'s circles (<%= @person.contacts.size %>):</p>
<ul>
<% @person.contacts.each do |contact| %>
<li><%= link_to image_tag(contact.avatar_url), stream_path(:provider => :people, :id => contact.id) %>
<% end %>
</ul>
<p>Have <%= @person.display_name %> in circles (<%= @person.contact_of.size %>):</p>
<ul>
<% @person.contact_of.each do |person| %>
<li><%= link_to image_tag(person.avatar_url), stream_path(:provider => :people, :id => person.id) %>
<% end %>
</ul>