<%= form_for(@person) do |form| %>

<p class="field-title"><%= form.label :display_name %></p>        <p class="field-value"><%= form.text_field :display_name %></p>
<p class="field-title"><%= form.label :email %></p>               <p class="field-value"><%= form.text_field :email %></p>
<p class="field-title"><%= form.label :language %></p>            <p class="field-value"><%= select( "person", "language", { "English" => "en", "Français" => "fr"}) %></p>

<p class="field-title"></p>                                       <p class="field-value"><%= form.submit "Save changes", :class => "action-button" %></p>

<% end %>