<h1><%= t('.welcome') %></h1>
<h2><%= t('.sub_heading') %></h2>
<p>
  <%= link_to(content_tag(:span, nil, class:'fa fa-facebook', title: 'Facebook'), signin_path(:facebook), class: 'btn btn-social-icon btn-facebook') %>
  <%= link_to(content_tag(:span, nil, class:'fa fa-twitter', title: 'Twitter'), signin_path(:twitter), class: 'btn btn-social-icon btn-twitter') %>
  <%= link_to(content_tag(:span, nil, class:'fa fa-linkedin', title: 'LinkedIn'), signin_path(:linkedin), class: 'btn btn-social-icon btn-linkedin') %>
  <%= link_to(content_tag(:span, nil, class:'fa fa-yahoo', title: 'Yahoo'), signin_path(:yahoo), class: 'btn btn-social-icon btn-yahoo') %>
  <%= link_to(content_tag(:span, nil, class:'fa fa-google', title: 'Google'), signin_path(:google), class: 'btn btn-social-icon btn-google') %>
</p>
<p>
  <strong><%= t('.local_account_query')%></strong>
  <%= link_to t('.create_account'), "/auth/identity/register" %> or
  <%= link_to t('.login'), signin_path(:identity) %>
</p>
