<h1>Welcome to Socializer</h1>
<h2>You can login using the following services</h2>
<p>
  <%= link_to image_tag("socializer/auth_buttons/facebook_32.png"), signin_path(:facebook) %>
  <%= link_to image_tag("socializer/auth_buttons/twitter_32.png"), signin_path(:twitter) %>
  <%= link_to image_tag("socializer/auth_buttons/linkedin_32.png"), signin_path(:linkedin) %>
  <%= link_to image_tag("socializer/auth_buttons/yahoo_32.png"), signin_path(:yahoo) %>
  <%= link_to image_tag("socializer/auth_buttons/google_32.png"), signin_path(:google) %>
</p>
<p>
  <strong>Don't use these services?</strong>
  <%= link_to "Create an account", "/auth/identity/register" %>
  <%= link_to "Login", signin_path(:identity) %>
</p>