<h3>
  <%= person.display_name %>
</h3>

<p>
  <%= image_tag(person.avatar_url, size: '190x190', class: 'img-responsive') %>
</p>

<p>
  <%= link_to(t('.send_message'), person_message_path(person), class: 'btn btn-primary') %>
</p>

<p>In <%= person.display_name %>'s circles (<%= person.contacts.size %>):</p>
<ul class='small-contact-list'>
  <% person.contacts.each do |contact| %>
  <!-- DUPLICATION: /people/_sidebar 16, 24, /groups/_sidebar 4 -->
  <li><%= link_to image_tag(contact.avatar_url, title: contact.display_name), stream_path(provider: :people, id: contact.id) %>
  <% end %>
</ul>

<p>Have <%= person.display_name %> in circles (<%= person.contact_of.size %>):</p>
<ul class='small-contact-list'>
  <% person.contact_of.each do |person| %>
  <!-- DUPLICATION: /people/_sidebar 16, 24, /groups/_sidebar 4 -->
  <li><%= link_to image_tag(person.avatar_url, title: person.display_name), stream_path(provider: :people, id: person.id) %>
  <% end %>
</ul>
