<nav class="toolbar" role="navigation">
  <div class="container">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header col-sm-2">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toolbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to(tag.span(class: "fa fa-fw fa-user") + t(".profile"), person_activities_path(person_id: current_user.id), class: "navbar-brand") %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="toolbar-collapse-1">
        <div class="col-sm-7">
          <ul class="nav navbar-nav">
            <li class="<%= "active" if current_page?(person) | current_page?(edit_person_path(person)) %>"><%= link_to(t(".about"), person) %></li>
            <li class="<%= "active" if current_page?(person_activities_path(person_id: person.id)) %>"><%= link_to(t(".stream"), person_activities_path(person_id: person.id)) %></li>
            <li class="<%= "active" if current_page?(likes_person_path(person)) %>"><%= link_to(t(".likes"), likes_person_path(person)) %></li>
          </ul>
          <div class="btn-group pull-right">
            <%= link_to(t(".edit"), edit_person_path(current_user), class: "btn btn-primary", title: "#{t(".tooltip.edit")}", data: { behavior: "tooltip-on-hover" }) if current_user?(person) %>
          </div>
        </div><!-- /.col-sm-7 -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</nav><!-- /.navbar-toolbar -->
