<% content_for :toolbar do %>
  <%= render 'toolbar', person: @person %>
<% end %>

<h1><%= @person.display_name %></h1>

<section class='form-horizontal'>
  <div class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.display_name %></p>
    </div>
  </div>

  <h2>Story</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">Tagline</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.tagline %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Introduction</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.introduction %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Bragging rights</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.bragging_rights %></p>
    </div>
  </div>

  <h2>Work</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">Occupation</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.occupation %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Skills</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.skills %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Employment</label>
    <div class="col-sm-9">
      <ul class='list-unstyled'>
      <% @person.employments.each do |employment| %>
        <li class="form-control-static">
          <%= employment.employer_name %><br>
          <%= employment.job_title %><br>
          <%= employment.job_description %><br>
          <%= employment.start.to_s(:long_ordinal) %> -
          <% if employment.current? %>
            present
          <% else %>
            <%= employment.end.to_s(:long_ordinal) %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <h2>Education</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">Education</label>
    <div class="col-sm-9">
      <ul class='list-unstyled'>
      <% @person.educations.each do |education| %>
        <li class="form-control-static">
          <%= education.school_name %><br>
          <%= education.major_or_field_of_study %><br>
          <%= education.start.to_s(:long_ordinal) %> -
          <% if education.current? %>
            present
          <% else %>
            <%= education.end.to_s(:long_ordinal) %>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <h2>Places</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">Places</label>
    <div class="col-sm-9">
      <ul class='list-unstyled'>
      <% @person.places.each do |place| %>
        <li class="form-control-static">
          <%= place.city_name %><br>
          <% if place.current? %>
            present
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <h2>Other profiles</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">Profiles</label>
    <div class="col-sm-9">
      <ul class='list-unstyled'>
      <% @person.profiles.each do |profile| %>
        <li class="form-control-static">
          <%= link_to(profile.label, profile.url) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <h2>Contributions</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">Contributions</label>
    <div class="col-sm-9">
      <ul class='list-unstyled'>
      <% @person.contributions.each do |contribution| %>
        <li class="form-control-static">
          <%= link_to(contribution.label, contribution.url) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <h2>Links</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">Links</label>
    <div class="col-sm-9">
      <ul class='list-unstyled'>
      <% @person.links.each do |link| %>
        <li class="form-control-static">
          <%= link_to(link.label, link.url) %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <h2>Basic information</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">Gender</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.gender.titleize %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Birthdate</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.birthdate.to_date.to_s(:long_ordinal) %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Relationship</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.relationship.titleize %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Other names</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.other_names %></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Looking for</label>
    <div class="col-sm-9">
       <p class="form-control-static">
         <% if @person.looking_for_friends %>Friends<br><% end %>
         <% if @person.looking_for_dating %>Dating<br><% end %>
         <% if @person.looking_for_relationship %>Relationship<br><% end %>
         <% if @person.looking_for_networking %>Networking<% end %>
       </p>
    </div>
  </div>


  <h2>Contact information</h2>
  <div class="form-group">
    <label class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <p class="form-control-static"><%= @person.email %></p>
    </div>
  </div>

  <h3>Addresses</h3>
  <div class="form-group">
    <label class="col-sm-3 control-label">Addresses</label>
    <div class="col-sm-9">
      <ul class='list-unstyled'>
      <% @person.addresses.each do |address| %>
        <li class="form-control-static">
          <%= address.line1 %><br>
          <% if address.line2? %>
            <%= address.line2 %><br>
          <% end %>
          <%= "#{address.city}, #{address.province_or_state} #{address.postal_code_or_zip}".html_safe %><br>
          <%= address.country %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <h3>Phones</h3>
  <div class="form-group">
    <label class="col-sm-3 control-label">Phones</label>
    <div class="col-sm-9">
      <ul class='list-unstyled'>
      <% @person.phones.each do |phone| %>
        <li class="form-control-static">
          <%= "#{phone.label} : #{phone.number}".html_safe %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</section>
