<header class="activity-top">
  <div class='btn-group pull-right'>
    <a href='#' data-toggle='dropdown' class='btn btn-xs btn-transparent dropdown-toggle'>
      <span class='fa fa-angle-down fa-lg'></span>
    </a>
    <ul class='dropdown-menu'>
      <li><%= link_to "Edit", edit_note_path(activity.model.object) %></li>
      <li><%= link_to "Delete", activity.model.object, method: :delete, remote: true %></li>
    </ul>
  </div>

  <%# Author's name  %>
  <%= link_to activity.actor.display_name, stream_path(provider: :people, id: activity.actor.id), class: "important-link" %>
  <span class='separator'></span>

  <%# Time elapsed %>
  <%= link_to activity.created_at_time_ago, stream_path(provider: :activities, id: activity.id), class: "unimportant-link" %>

  <%# List of audiences %>
  <!-- FIXME: Displays duplicates -->
  <% activity.audiences.uniq.each do |audience| %>

    <span class='separator'></span>

    <% if audience.privacy_level.public? %>
        <%= link_to audience.privacy_level.text, stream_audience_path(activity), class: 'tooltip unimportant-link', title: "#{t('.tooltip_public')}" %>
    <% else %>
      <%= link_to "Limited", stream_audience_path(activity), class: 'tooltip unimportant-link' %>
    <% end %>

  <% end %>

</header>
