<% if activity.activitable_object.note? %>
<%# debugger %>
  <!-- FIXME: activity.object conflicts with draper. object is reserved -->
  <div class="activity-content"><%= activity.model.object.content %></div>

<% elsif activity.activitable_object.comment? %>

  <div class="activity-content"><%= link_to activity.actor.display_name, stream_path(provider: :people, id: activity.actor.id) %><span class='separator'></span><%= activity.object.content %></div>

<% elsif activity.activitable_object.activity? %>

  <div class="activity-content"><%= activity.activity_field.content %></div>
  <!-- FIXME: activity.object conflicts with draper. object is reserved -->
  <div class="activity-subcontent"><%= link_to activity.model.object.actor.display_name, stream_path(provider: :people, id: activity.model.object.actor.id) %> originally shared this <%= link_to(activity.model.object.class.name.demodulize.downcase, stream_path(provider: :activities, id: activity.model.object.id)) %>:</div>
  <!-- FIXME: activity.object conflicts with draper. object is reserved -->
  <div class="activity-subcontent"><%=  activity.model.object.object.content %></div>

<% else %>

  <div class="activity-content">
    <%= activity.activitable_object.activitable_type %>
  </div>

<% end %>
