<div class="activity-top">
	<%# Author's name  %>
	<%= link_to activity.actor.display_name, stream_path(provider: :people, id: activity.actor.id), class: "important-link" %>
	<%= separator %>

	<%# Time elapsed %>
	<%= link_to time_ago_in_words(activity.created_at) + " ago", stream_path(provider: :activities, id: activity.id), 
				class: "unimportant-link" %>

	<%# List of audiences %>
	<% activity.audiences.uniq.each do |audience| %>

		<%= separator %>

		<% if audience.privacy_level.public? %>
  			<%= link_to "Public", stream_audience_path(activity), class: 'tooltip unimportant-link', title: "Anyone can see this" %>
		<% else %>
			<%= link_to "Limited", stream_audience_path(activity), class: 'tooltip unimportant-link' %>
		<% end %>

	<% end %>
	
</div>