<% if activity.activitable_object.note? %>
  <p><%= activity.model.object.content %></p>

<%# elsif activity.activitable_object.comment? %>

<!--   <p><%#= link_to activity.actor.display_name, person_activities_path(person_id: activity.actor.id) %><span class='separator'></span><%= activity.model.object.content %></p> -->

<% elsif activity.activitable_object.activity? %>

  <p><%= activity.activity_field_content %></p>

  <article  class='media media-body-attachment'>
    <section class='media-body'>
      <header>
        <h2>
          <%= link_to(activity.model.object.actor.display_name, person_activities_path(person_id: activity.model.object.actor.id)) %>
          <small class='text-muted'>
            <%= link_to('originally shared:', activity_activities_path(activity_id: activity.model.object.id)) %>
          </small>
        </h2>
      </header>

      <p><%= activity.model.object.object.content %></p>

    </section>
  </article>

<!--   <p><%#= link_to(activity.model.object.actor.display_name, person_activities_path(person_id: activity.model.object.actor.id)) %> <%= link_to('originally shared:', activity_activities_path(activity_id: activity.model.object.id)) %></p> -->
  <!-- FIXME: activity.object conflicts with draper. object is reserved -->
<!--   <p><%#= activity.model.object.object.content %></p> -->

<% else %>

  <p>
    <%= activity.activitable_object.activitable_type %>
  </p>

<% end %>
