<% if params[:provider] == 'people' %>

  <% content_for :toolbar do %>
    <%= render 'socializer/people/toolbar', person: @person %>
  <% end %>

  <h1><%= @person.display_name %></h1>

<% else %>

  <% content_for :toolbar do %>
    <%= render 'socializer/shared/toolbar' %>
  <% end %>

  <h1><%= @title %></h1>

  <%= render 'socializer/notes/form' %>

<% end %>

<!-- <ul class="activities"> -->
<section class='activities'>
  <%= render @activities %>
</section>
<!-- </ul> -->
