<h1><%= @title %></h1>

<%= form_for(Socializer::Note.new) do |form| %>
<p>
  <%= form.label :content, "What's in your mind?" %><br>
  <%= form.text_area :content, :rows => 5, :style => "width: 100%;" %>
</p>
<p>
  <%= form.text_field :object_ids %>
</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("#note_object_ids").tokenInput("<%= audiences_path %>", { 
      minChars: 0
     ,preventDuplicates: true
     <% unless @current_id.nil? %>,prePopulate: [{id: <%= @current_id %>, name: "<%= @title %>"}]<% end %>
    });
  });
</script>
<p>
  <%= form.submit "Post" %>
</p>
<% end %>

<ul class="activities">
<% @activities.each do |activity| %>
  <li><%= render activity %></li>
<% end %>
</ul>