<%= form_tag stream_share_path(@embedded_object.embeddable) do %>
<p>
  <label>
    Would you like to say something along with the sharing of this activity?<br>
    <textarea id="share[content]" name="share[content]" rows="5" style="width: 100%;"></textarea>
  </label>
</p>
<fieldset>
  <legend>Audiences</legend>
  <label>
  <%= check_box_tag "share[scope]", "PUBLIC" %>
  Public
  <%= check_box_tag "share[scope]", "CIRCLES" %>
  Circles
  </label>
  <% current_user.circles.each do |circle| %>
    <label>
    <%= check_box_tag "share[object_ids][]", circle.guid %>
    <%= circle.name %>
    </label>
  <% end %>
  <% Socializer::Person.all.each do |person| %>
   <label>
    <%= check_box_tag "share[object_ids][]", person.guid %>
    <%= person.display_name %>
    </label>
  <% end %>
</fieldset>
<input type="hidden" name="share[activity_id]" id="share[activity_id]" value="<%= @embedded_object.id %>">
<ul>
<li><%= render @embedded_object.embeddable %></li>
</ul>
<p>
  <input type="submit" value="Share" />
</p>
<% end %>