<%= form_tag stream_share_path(@embedded_object.embeddable) do %>
<p>
  <label>
    Would you like to say something along with the sharing of this activity?<br>
    <textarea id="share[content]" name="share[content]" rows="5" style="width: 100%;"></textarea>
  </label>
</p>
<p>
    <%= form.text_field :object_ids %>
</p>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#note_object_ids").tokenInput("<%= audiences_path %>", { minChars: 0 });
    });
    </script>
<input type="hidden" name="share[activity_id]" id="share[activity_id]" value="<%= @embedded_object.id %>">
<ul>
<li><%= render @embedded_object.embeddable %></li>
</ul>
<p>
  <input type="submit" value="Share" />
</p>
<% end %>