<div id="page-header">
  <div id="inner-header">
    <%= link_to(content_tag(:span, nil, class: 'icon icon-home icon-3x', title: "#{t('.home')}"),              root_path) %>
    <%= link_to(content_tag(:span, nil, class: 'icon icon-user icon-3x', title: "#{t('.profile')}"),           stream_path(provider: :people, id: current_user.id)) %>
    <%= link_to(content_tag(:span, nil, class: 'icon icon-google-circles icon-3x', title: "#{t('.circles')}"), circles_contacts_path) %>
    <%= link_to(content_tag(:span, nil, class: 'icon icon-lock icon-3x', title: "#{t('.authentications')}"),   authentications_path) %>
    <%= link_to(content_tag(:span, nil, class: 'icon icon-users icon-3x', title: "#{t('.groups')}"),           groups_memberships_path) %>
    <%= link_to(content_tag(:span, nil, class: 'icon icon-bell-alt icon-3x', title: "#{t('.notifications')}"), notifications_path) %>
    <%= link_to(content_tag(:span, nil, class: 'icon icon-off icon-3x', title: "#{t('.signout')}"),            signout_path, method: :delete, style: "float: right;") %>
  </div>
</div>
