<div id="page-header">
	<div id="inner-header">
		<%= link_to image_tag("socializer/icons/Home.png",  width: 60, title: "Home"),            root_path %>
		<%= link_to image_tag("socializer/icons/User.png",  width: 60, title: "Profile"),         stream_path(provider: :people, id: current_user.id) %>
		<%= link_to image_tag("socializer/icons/Web.png",   width: 60, title: "Circles"),         circles_contacts_path %>
		<%= link_to image_tag("socializer/icons/Safe.png",  width: 60, title: "Authentications"), authentications_path %>
		<%= link_to image_tag("socializer/icons/Users.png", width: 60, title: "Groups"),          groups_memberships_path %>
		<%= link_to image_tag("socializer/icons/Bell.png",  width: 60, title: "Notifications"),   notifications_path %>
		<%= link_to image_tag("socializer/icons/Power.png", width: 60, title: "Signout"),         signout_path, method: :delete, style: "float: right;" %>
	</div>
</div>
