<div id="page-header">
  <div id="inner-header">
    <%= link_to image_tag("socializer/icons/Home.png",  width: 60, title: "#{t('.home')}"),            root_path %>
    <%= link_to image_tag("socializer/icons/User.png",  width: 60, title: "#{t('.profile')}"),         stream_path(provider: :people, id: current_user.id) %>
    <%= link_to image_tag("socializer/icons/Web.png",   width: 60, title: "#{t('.circles')}"),         circles_contacts_path %>
    <%= link_to image_tag("socializer/icons/Safe.png",  width: 60, title: "#{t('.authentications')}"), authentications_path %>
    <%= link_to image_tag("socializer/icons/Users.png", width: 60, title: "#{t('.groups')}"),          groups_memberships_path %>
    <%= link_to image_tag("socializer/icons/Bell.png",  width: 60, title: "#{t('.notifications')}"),   notifications_path %>
    <%= link_to image_tag("socializer/icons/Power.png", width: 60, title: "#{t('.signout')}"),         signout_path, method: :delete, style: "float: right;" %>
  </div>
</div>
