<div style="border-bottom: 1px solid #ddd; padding: 10px 0 20px;">
  <span style="font-weight: bold; font-size: 40px; margin-right: 40px;">Socializer</span>
  <%= link_to "Home", root_path %> |
  <%= link_to "Profile", stream_path(:provider => :people, :id => current_user.id) %> |
  <%= link_to "Circles", circles_path %> |
  <%= link_to "Authentications", authentications_path %> |
  <%= link_to "Groups", groups_path %> |
  <%= link_to "Notifications", notifications_path %> |
  <%= link_to "Sign out", signout_path, :method => :delete %>
</div>