<!DOCTYPE html>
<html>
<head>
  <title>Socializer</title>
  <%= stylesheet_link_tag    "socializer/application" %>
  <%= stylesheet_link_tag    "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css"%>
  <%= javascript_include_tag "socializer/application" %>

  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>", data-locale="<%= I18n.locale %>" >

<% if signed_in? %>
<%= render 'layouts/socializer/header' %>
<div id="outer-page">

  <div id="stream-column">
  <% if params[:provider] == 'people' || params[:controller] == 'socializer/people' %>
    <%= render 'socializer/people/card', person: @person %>
  <% else %>
    <%= render 'socializer/activities/stream_list' %>
  <% end %>
  </div>

  <% if params[:controller] == 'socializer/activities' && (params[:provider] == 'groups' || params[:provider] =='circles' || params[:provider].nil?) %>

  <div id="page-content" style="width: 558px;">
    <%= yield %>
  </div>

  <div id="contextual-column">

    <% if params[:provider] == 'circles' %>
      <%= render 'socializer/circles/card', circle: @circle, title: @title %>
    <% elsif params[:provider] == 'groups' %>
      <%= render 'socializer/groups/card', group: @group, title: @title %>
    <% elsif params[:provider].nil? %>
      <%= render 'socializer/activities/stream_card' %>
    <% end %>

  </div>

  <% else %>

  <div id="page-content" style="width: 758px;">
    <%= yield %>
  </div>

  <% end %>
</div>

<% else %>
<div id="outer-page">
  <%= render 'socializer/people/login' %>
</div>
<% end %>

</body>
</html>
