<!DOCTYPE html>
<html>
<head>
  <title>Socializer</title>
  <%= stylesheet_link_tag    "socializer/application" %>
  <%= javascript_include_tag "socializer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="outer-page">

<% if signed_in? %>

  <%= render 'layouts/socializer/header' %>

  <div id="stream-column">
    <%= render 'socializer/activities/stream_list' %>
  </div>

  <% if params[:controller] == 'socializer/activities' %>

  <div style="float: left; width: 500px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; padding: 0 29px;">
    <%= yield %>
  </div>

  <div id="contextual-column">

    <% if params[:provider] == 'circles' %>
      <%= render 'socializer/circles/card' %>
    <% elsif params[:provider] == 'people' %>
      <%= render 'socializer/people/card' %>
    <% elsif params[:provider] == 'groups' %>
      <%= render 'socializer/groups/card' %>
    <% elsif params[:provider].nil? %>
      <%= render 'socializer/activities/stream_card' %>
    <% else %>
    <div style="white-space: pre-wrap;"><%= params.to_yaml %></div>
    <% end %>

  </div>

  <% else %>

  <div style="float: left; width: 701px; border-left: 1px solid #ddd; padding: 0 29px;">
    <%= yield %>
  </div>

  <% end %>

<% else %>
  <%= render 'socializer/people/login' %>
<% end %>

</div>

</body>
</html>
