<%= render 'menu' %>
<p>
  <%= link_to(content_tag(:span, nil, class:'fa fa-facebook fa-2x fa-fw'), signin_path(:facebook)) %>
  <%= link_to(content_tag(:span, nil, class:'fa fa-twitter fa-2x fa-fw'), signin_path(:twitter)) %>
  <%= link_to(content_tag(:span, nil, class:'fa fa-linkedin fa-2x fa-fw'), signin_path(:linkedin)) %>
  <%= link_to(content_tag(:span, nil, class:'fa fa-yahoo fa-2x fa-fw'), signin_path(:yahoo)) %>
  <%= link_to(content_tag(:span, nil, class:'fa fa-google fa-2x fa-fw'), signin_path(:google)) %>
</p>
